.root {
	-fx-background-color: #2b3339; 
	-fx-secondary: #2b3339;
	-fx-text-color: #1abc9c;
	-fx-font-family: 'Open Sans', sans-serif;
}

#inputBox {
	-fx-background-color: #8f9396;
	-fx-text-fill: black;
	-fx-font-size: 13px;
}

#status {
	-fx-text-fill: -fx-text-color;
	-fx-font-size: 12.5px;
	-fx-font-family:  'Open Sans', sans-serif;
}

 /*override alternate rows */
.table-view {
    -fx-background-color: -fx-secondary;
    -fx-padding: 5;
}

.table-row-cell {
    -fx-background-color: -fx-secondary;
}

.table-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent; /*remove the side border */
    -fx-border-width: 0.083333em; 
    -fx-cell-size: 2.0em; 
    -fx-font-size: 13px;
    
}

/*override column header background colour */
.table-view .column-header-background {
    -fx-background-color: -fx-secondary;
    -fx-padding: 0;
}

/*override column header colour */
.table-view .column-header, .table-view .filler {
    -fx-background-color: -fx-secondary;
    -fx-border-style: none;
    -fx-border-insets: 0 1 1 0, 0 0 0 0;
    -fx-border-width: 0, 0;
    
}

.table-view .column-header .label {
	-fx-font-family:  'Open Sans', sans-serif;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: -fx-text-color;
}

.italic { 
  -fx-font-style: italic;
}

.straight { 
  -fx-font-style: normal;
}